In [334]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.metrics import accuracy_score, mean_absolute_error, roc_auc_score

In [202]:
# Read data
dataset = pd.read_csv('./Dataset 1_Bank Marketing/bank_mkt_train.csv', header='infer')

In [181]:
dataset

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,13724,45.0,11,3,7,0,2,2,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.957,5228.1,1
19996,29863,26.0,0,2,6,0,2,0,0,6,...,1,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19997,9841,33.0,0,1,3,0,2,2,0,6,...,0,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19998,36432,43.0,0,1,3,0,2,0,1,3,...,9,999.0,0.0,1,1.4,93.918,-42.7,4.960,5228.1,0
19999,15639,55.0,1,1,2,0,2,2,0,1,...,2,999.0,0.0,1,1.4,93.444,-36.1,4.963,5228.1,0

In [209]:
test_df = pd.read_csv('./mbd2021-bank-telemarketing-outcome-prediction/bank_mkt_test.csv', header='infer')
sample_submission = pd.read_csv('./mbd2021-bank-telemarketing-outcome-prediction/bank_mkt_sample_submission.csv', header='infer')

In [145]:
test_df

sample_submission

      client_id  subscribe
0          2986        0.5
1         29710        0.5
2         38938        0.5
3         31313        0.5
4         24173        0.5
...         ...        ...
9995        880        0.5
9996      28072        0.5
9997      40491        0.5
9998       5310        0.5
9999       6154        0.5

[10000 rows x 2 columns]

In [143]:
test_df

,client_id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,2986,53.0,9,2,5,0,0,0,0,3,3,0,999.0,0.0,1,1.4,93.918,-42.7,4.961,5228.1
1,29710,32.0,1,1,1,0,2,0,1,3,4,1,999.0,0.0,1,1.4,93.918,-42.7,4.963,5228.1
2,38938,70.0,5,1,3,0,2,0,0,1,3,0,999.0,0.0,1,-2.9,92.201,-31.4,0.883,5076.2
3,31313,46.0,7,1,3,0,0,0,0,0,1,0,999.0,1.0,0,-1.8,93.075,-47.1,1.405,5099.1
4,24173,35.0,9,2,7,0,0,0,0,6,2,0,999.0,1.0,0,-1.8,92.893,-46.2,1.266,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,880,31.0,0,0,6,0,2,2,0,6,1,2,999.0,0.0,1,-1.8,92.893,-46.2,1.354,5099.1
9996,28072,21.0,6,2,6,0,2,0,0,0,1,0,999.0,0.0,1,-1.8,93.075,-47.1,1.405,5099.1
9997,40491,39.0,3,1,0,0,2,2,0,1,0,0,999.0,0.0,1,1.4,93.444,-36.1,4.964,5228.1
9998,5310,32.0,9,2,6,0,2,2,0,1,1,2,999.0,0.0,1,1.4,93.444,-36.1,4.965,5228.1
9999,6154,50.0,9,1,6,0,0,0,0,3,0,0,999.0,0.0,1,1.4,93.918,-42.7,4.962,5228.1

In [210]:
cols = ['job', 'marital', 'education', 'default', 'housing','loan', 'contact', 'month', 'day_of_week', 'campaign', 'poutcome']
test_df[cols] = test_df[cols].apply(le.fit_transform)
# Print head
test_df.head()
#test_df.dropna(inplace=True)

,client_id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,2986,53.0,9,2,5,0,0,0,0,3,3,0,999.0,0.0,1,1.4,93.918,-42.7,4.961,5228.1
1,29710,32.0,1,1,1,0,2,0,1,3,4,1,999.0,0.0,1,1.4,93.918,-42.7,4.963,5228.1
2,38938,70.0,5,1,3,0,2,0,0,1,3,0,999.0,0.0,1,-2.9,92.201,-31.4,0.883,5076.2
3,31313,46.0,7,1,3,0,0,0,0,0,1,0,999.0,1.0,0,-1.8,93.075,-47.1,1.405,5099.1
4,24173,35.0,9,2,7,0,0,0,0,6,2,0,999.0,1.0,0,-1.8,92.893,-46.2,1.266,5099.1

In [211]:
test_df.fillna(0, inplace=True)
test_df_predict = clf_gini.predict_proba(test_df)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [227]:
len(test_df_predict)

10000

In [213]:
test_df_predict

array([[0.95033715, 0.04966285],
       [0.95033715, 0.04966285],
       [0.64119067, 0.35880933],
       ...,
       [0.95033715, 0.04966285],
       [0.95033715, 0.04966285],
       [0.95033715, 0.04966285]])

In [214]:
test_df.fillna(0, inplace=True)
test_df_predict = clf_gini.predict_proba(test_df)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

In [215]:
test_df_predict[1]

0       0.049663
1       0.049663
2       0.358809
3       0.180412
4       0.096870
          ...
9995    0.096870
9996    0.180412
9997    0.049663
9998    0.049663
9999    0.049663
Name: 1, Length: 10000, dtype: float64

In [216]:
test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   0.049663
1         29710   0.049663
2         38938   0.358809
3         31313   0.180412
4         24173   0.096870
...         ...        ...
9995        880   0.096870
9996      28072   0.180412
9997      40491   0.049663
9998       5310   0.049663
9999       6154   0.049663

[10000 rows x 2 columns]

In [217]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub2.csv',index=False)

In [176]:
test_df_predict[1]

0       0.053962
1       0.053962
2       0.312296
3       0.161725
4       0.142405
          ...
9194    0.053962
9195    0.161725
9196    0.053962
9197    0.053962
9198    0.053962
Name: 1, Length: 9199, dtype: float64

In [182]:
df_1 = pd.DataFrame(
	[['Somu', 68, 84, 78, 96],
	['Kiku', 74, 56, 88, 85],
	['Ajit', 77, 73, 82, 87]],
	columns=['name', 'physics', 'chemistry','algebra','calculus'])

df_2 = pd.DataFrame(
	[['Amol', 72, 67, 91, 83],
	['Lini', 78, 69, 87, 92]],
	columns=['name', 'physics', 'chemistry','algebra','calculus'])	

#concatenate
df = pd.concat([df_1, df_2])
#now the index is not in order

#reset the index
df = pd.concat([df], ignore_index=True, axis=0)

#print dataframe
print(df)

   name  physics  chemistry  algebra  calculus
0  Somu       68         84       78        96
1  Kiku       74         56       88        85
2  Ajit       77         73       82        87
3  Amol       72         67       91        83
4  Lini       78         69       87        92

In [328]:
dataset

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,13724,45.0,11,3,7,0,2,2,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.957,5228.1,1
19996,29863,26.0,0,2,6,0,2,0,0,6,...,1,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19997,9841,33.0,0,1,3,0,2,2,0,6,...,0,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19998,36432,43.0,0,1,3,0,2,0,1,3,...,9,999.0,0.0,1,1.4,93.918,-42.7,4.960,5228.1,0
19999,15639,55.0,1,1,2,0,2,2,0,1,...,2,999.0,0.0,1,1.4,93.444,-36.1,4.963,5228.1,0

In [203]:
# using label Encoder instead of one hot encoding cuz we have too many columns
cols = ['job', 'marital', 'education', 'default', 'housing','loan', 'contact', 'month', 'day_of_week', 'campaign', 'poutcome']
# Encode labels of multiple columns at once
le = LabelEncoder()
dataset[cols] = dataset[cols].apply(le.fit_transform)
# Print head
dataset.head()

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0

In [81]:
dataset.day_of_week

0        2
1        1
2        1
3        3
4        4
        ..
19995    4
19996    1
19997    1
19998    1
19999    2
Name: day_of_week, Length: 20000, dtype: int32

In [76]:
dataset

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,13724,45.0,11,3,7,0,2,2,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.957,5228.1,1
19996,29863,26.0,0,2,6,0,2,0,0,6,...,1,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19997,9841,33.0,0,1,3,0,2,2,0,6,...,0,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19998,36432,43.0,0,1,3,0,2,0,1,3,...,9,999.0,0.0,1,1.4,93.918,-42.7,4.960,5228.1,0
19999,15639,55.0,1,1,2,0,2,2,0,1,...,2,999.0,0.0,1,1.4,93.444,-36.1,4.963,5228.1,0

In [204]:
dataset.isnull().sum()

client_id           0
age               202
job                 0
marital             0
education           0
default             0
housing             0
loan                0
contact             0
month               0
day_of_week         0
campaign            0
pdays             185
previous          209
poutcome            0
emp.var.rate      165
cons.price.idx    181
cons.conf.idx     197
euribor3m         204
nr.employed       184
subscribe           0
dtype: int64

In [78]:
dataset.columns

Index(['client_id', 'age', 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month', 'day_of_week', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'subscribe'],
      dtype='object')

In [207]:
# sklearn does not work with null values 
dataset.fillna(0, inplace=True)

In [61]:
dataset

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,13724,45.0,11,3,7,0,2,2,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.957,5228.1,1
19996,29863,26.0,0,2,6,0,2,0,0,6,...,1,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19997,9841,33.0,0,1,3,0,2,2,0,6,...,0,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19998,36432,43.0,0,1,3,0,2,0,1,3,...,9,999.0,0.0,1,1.4,93.918,-42.7,4.960,5228.1,0
19999,15639,55.0,1,1,2,0,2,2,0,1,...,2,999.0,0.0,1,1.4,93.444,-36.1,4.963,5228.1,0

In [222]:
# example of grid searching key hyperparameters for BaggingClassifier
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import BaggingClassifier
# define dataset
# X, y = make_blobs(n_samples=1000, centers=2, n_features=100, cluster_std=20)
X = X_train
y = y_train
# define models and parameters
model = BaggingClassifier()
n_estimators = [10, 100, 1000]
# define grid search
grid = dict(n_estimators=n_estimators)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(X, y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.895500 using {'n_estimators': 1000}
0.891190 (0.004988) with: {'n_estimators': 10}
0.894619 (0.004665) with: {'n_estimators': 100}
0.895500 (0.004582) with: {'n_estimators': 1000}

In [225]:
clf = BaggingClassifier(n_estimators=1000, warm_start=True, random_state=83)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0. 0. 0. ... 0. 0. 0.]
Confusion Matrix:  [[5182  136]
 [ 486  196]]
Accuracy :  0.8963333333333333
Report :                precision    recall  f1-score   support

         0.0       0.91      0.97      0.94      5318
         1.0       0.59      0.29      0.39       682

    accuracy                           0.90      6000
   macro avg       0.75      0.63      0.66      6000
weighted avg       0.88      0.90      0.88      6000

In [230]:
test_df.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but BaggingClassifier was fitted without feature names
  warnings.warn(

      client_id  subscribe
0          2986      0.069
1         29710      0.052
2         38938      0.477
3         31313      0.018
4         24173      0.214
...         ...        ...
9995        880      0.254
9996      28072      0.632
9997      40491      0.055
9998       5310      0.066
9999       6154      0.096

[10000 rows x 2 columns]

In [232]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub3.csv',index=False)

In [233]:

# example of grid searching key hyperparameters for RandomForestClassifier
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
# define dataset
# X, y = make_blobs(n_samples=1000, centers=2, n_features=100, cluster_std=20)
X = X_train
y = y_train
# define models and parameters
model = RandomForestClassifier()
n_estimators = [10, 100, 1000]
max_features = ['sqrt', 'log2']
# define grid search
grid = dict(n_estimators=n_estimators,max_features=max_features)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(X, y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.896929 using {'max_features': 'sqrt', 'n_estimators': 100}
0.893119 (0.004572) with: {'max_features': 'sqrt', 'n_estimators': 10}
0.896929 (0.004735) with: {'max_features': 'sqrt', 'n_estimators': 100}
0.896714 (0.004708) with: {'max_features': 'sqrt', 'n_estimators': 1000}
0.894214 (0.005295) with: {'max_features': 'log2', 'n_estimators': 10}
0.896690 (0.004501) with: {'max_features': 'log2', 'n_estimators': 100}
0.896762 (0.004475) with: {'max_features': 'log2', 'n_estimators': 1000}

In [238]:
clf = RandomForestClassifier(max_features='sqrt', n_estimators= 100)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0. 0. 0. ... 0. 0. 0.]
Confusion Matrix:  [[5201  117]
 [ 483  199]]
Accuracy :  0.9
Report :                precision    recall  f1-score   support

         0.0       0.92      0.98      0.95      5318
         1.0       0.63      0.29      0.40       682

    accuracy                           0.90      6000
   macro avg       0.77      0.63      0.67      6000
weighted avg       0.88      0.90      0.88      6000

In [239]:
test_df.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

      client_id  subscribe
0          2986       0.09
1         29710       0.04
2         38938       0.35
3         31313       0.00
4         24173       0.11
...         ...        ...
9995        880       0.42
9996      28072       0.52
9997      40491       0.07
9998       5310       0.09
9999       6154       0.03

[10000 rows x 2 columns]

In [240]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub4.csv',index=False)

In [243]:
# example of grid searching key hyperparametres for SVC
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
# define dataset
X = X_train
y = y_train
# define model and parameters
model = SVC()
kernel = ['poly', 'rbf', 'sigmoid']
C = [50, 10, 1.0, 0.1, 0.01]
gamma = ['scale']
# define grid search
grid = dict(kernel=kernel,C=C,gamma=gamma)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(X, y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.890286 using {'C': 50, 'gamma': 'scale', 'kernel': 'rbf'}
0.887381 (0.002130) with: {'C': 50, 'gamma': 'scale', 'kernel': 'poly'}
0.890286 (0.005156) with: {'C': 50, 'gamma': 'scale', 'kernel': 'rbf'}
0.800071 (0.008498) with: {'C': 50, 'gamma': 'scale', 'kernel': 'sigmoid'}
0.886167 (0.001735) with: {'C': 10, 'gamma': 'scale', 'kernel': 'poly'}
0.888024 (0.003783) with: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
0.801000 (0.008632) with: {'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}
0.886500 (0.000214) with: {'C': 1.0, 'gamma': 'scale', 'kernel': 'poly'}
0.886500 (0.000214) with: {'C': 1.0, 'gamma': 'scale', 'kernel': 'rbf'}
0.812452 (0.008392) with: {'C': 1.0, 'gamma': 'scale', 'kernel': 'sigmoid'}
0.886500 (0.000214) with: {'C': 0.1, 'gamma': 'scale', 'kernel': 'poly'}
0.886500 (0.000214) with: {'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf'}
0.885643 (0.000723) with: {'C': 0.1, 'gamma': 'scale', 'kernel': 'sigmoid'}
0.886500 (0.000214) with: {'C': 0.01, 'gamma': 'scale', 'kernel': 'poly'}
0.886500 (0.000214) with: {'C': 0.01, 'gamma': 'scale', 'kernel': 'rbf'}
0.886500 (0.000214) with: {'C': 0.01, 'gamma': 'scale', 'kernel': 'sigmoid'}

In [256]:
clf = SVC(gamma="scale",kernel="rbf",probability=True)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0. 0. 0. ... 0. 0. 0.]
Confusion Matrix:  [[5318    0]
 [ 682    0]]
Accuracy :  0.8863333333333333
Report :                precision    recall  f1-score   support

         0.0       0.89      1.00      0.94      5318
         1.0       0.00      0.00      0.00       682

    accuracy                           0.89      6000
   macro avg       0.44      0.50      0.47      6000
weighted avg       0.79      0.89      0.83      6000

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [260]:
test_df.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[0].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

      client_id  subscribe
0          2986   0.905854
1         29710   0.904796
2         38938   0.906300
3         31313   0.904999
4         24173   0.904777
...         ...        ...
9995        880   0.906208
9996      28072   0.904654
9997      40491   0.906406
9998       5310   0.905797
9999       6154   0.905838

[10000 rows x 2 columns]

In [261]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub7.csv',index=False)

In [259]:
test_df_predict

             0         1
0     0.905854  0.094146
1     0.904796  0.095204
2     0.906300  0.093700
3     0.904999  0.095001
4     0.904777  0.095223
...        ...       ...
9995  0.906208  0.093792
9996  0.904654  0.095346
9997  0.906406  0.093594
9998  0.905797  0.094203
9999  0.905838  0.094162

[10000 rows x 2 columns]

In [266]:
clf = SVC(probability=True)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0. 0. 0. ... 0. 0. 0.]
Confusion Matrix:  [[5318    0]
 [ 682    0]]
Accuracy :  0.8863333333333333
Report :                precision    recall  f1-score   support

         0.0       0.89      1.00      0.94      5318
         1.0       0.00      0.00      0.00       682

    accuracy                           0.89      6000
   macro avg       0.44      0.50      0.47      6000
weighted avg       0.79      0.89      0.83      6000

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [275]:
test_df.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

      client_id  subscribe
0          2986   0.095999
1         29710   0.096987
2         38938   0.095582
3         31313   0.096797
4         24173   0.097004
...         ...        ...
9995        880   0.095668
9996      28072   0.097119
9997      40491   0.095483
9998       5310   0.096052
9999       6154   0.096014

[10000 rows x 2 columns]

In [278]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub8.csv',index=False)

In [300]:
X_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
12816,0.0,0,1,5,0,0,0,0,7,5,1,999.0,0.0,1,-0.1,93.200,-42.0,4.120,5195.8
11763,40.0,3,0,3,0,2,0,0,6,4,2,999.0,1.0,0,-1.8,92.893,-46.2,1.334,5099.1
9485,57.0,1,0,2,0,2,0,1,6,1,5,999.0,0.0,1,-1.8,92.893,-46.2,1.244,5099.1
5644,31.0,9,1,5,0,0,0,1,6,1,5,999.0,0.0,1,1.1,93.994,-36.4,4.858,5191.0
3768,42.0,4,1,6,0,2,0,0,6,0,0,999.0,0.0,1,-1.8,92.893,-46.2,1.250,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16304,74.0,5,1,3,0,0,0,0,1,2,0,999.0,0.0,1,-2.9,92.201,-31.4,0.883,5076.2
79,36.0,9,1,6,0,0,0,1,6,4,0,999.0,0.0,1,1.1,93.994,-36.4,4.858,5191.0
12119,40.0,1,1,3,1,2,0,1,6,1,0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0
14147,29.0,0,1,6,0,0,0,0,1,1,1,999.0,0.0,1,1.4,93.444,-36.1,4.965,5228.1
5640,34.0,1,1,2,0,2,0,0,6,1,0,999.0,0.0,1,-1.8,92.893,-46.2,1.244,5099.1

In [301]:
from sklearn.calibration import CalibratedClassifierCV
svm = SVC()
clf = CalibratedClassifierCV(svm)
clf.fit(X_train, y_train)
CalibratedClassifierCV(base_estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0, decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf', max_iter=-1, probability=False, random_state=None, shrinking=True,tol=0.001, verbose=False),cv=3, method='sigmoid')
clf.predict_proba(X_test)

array([[0.9073616 , 0.0926384 ],
       [0.9073928 , 0.0926072 ],
       [0.90739026, 0.09260974],
       ...,
       [0.90736993, 0.09263007],
       [0.90737124, 0.09262876],
       [0.9073911 , 0.0926089 ]])

In [302]:

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0 0 0 ... 0 0 0]
Confusion Matrix:  [[5190  128]
 [ 536  146]]
Accuracy :  0.8893333333333333
Report :                precision    recall  f1-score   support

           0       0.91      0.98      0.94      5318
           1       0.53      0.21      0.31       682

    accuracy                           0.89      6000
   macro avg       0.72      0.60      0.62      6000
weighted avg       0.86      0.89      0.87      6000

In [304]:
test_df1 = test_df.iloc[:, 1:20]
test_df1.fillna(0, inplace=True)
test_df_predict = clf_gini.predict_proba(test_df1)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   0.049663
1         29710   0.049663
2         38938   0.358809
3         31313   0.180412
4         24173   0.096870
...         ...        ...
9995        880   0.096870
9996      28072   0.180412
9997      40491   0.049663
9998       5310   0.049663
9999       6154   0.049663

[10000 rows x 2 columns]

In [305]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub9.csv',index=False)

In [303]:
test_df

,client_id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,2986,53.0,9,2,5,0,0,0,0,3,3,0,999.0,0.0,1,1.4,93.918,-42.7,4.961,5228.1
1,29710,32.0,1,1,1,0,2,0,1,3,4,1,999.0,0.0,1,1.4,93.918,-42.7,4.963,5228.1
2,38938,70.0,5,1,3,0,2,0,0,1,3,0,999.0,0.0,1,-2.9,92.201,-31.4,0.883,5076.2
3,31313,46.0,7,1,3,0,0,0,0,0,1,0,999.0,1.0,0,-1.8,93.075,-47.1,1.405,5099.1
4,24173,35.0,9,2,7,0,0,0,0,6,2,0,999.0,1.0,0,-1.8,92.893,-46.2,1.266,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,880,31.0,0,0,6,0,2,2,0,6,1,2,999.0,0.0,1,-1.8,92.893,-46.2,1.354,5099.1
9996,28072,21.0,6,2,6,0,2,0,0,0,1,0,999.0,0.0,1,-1.8,93.075,-47.1,1.405,5099.1
9997,40491,39.0,3,1,0,0,2,2,0,1,0,0,999.0,0.0,1,1.4,93.444,-36.1,4.964,5228.1
9998,5310,32.0,9,2,6,0,2,2,0,1,1,2,999.0,0.0,1,1.4,93.444,-36.1,4.965,5228.1
9999,6154,50.0,9,1,6,0,0,0,0,3,0,0,999.0,0.0,1,1.4,93.918,-42.7,4.962,5228.1

In [129]:
######################################################################################################

In [12]:
# Decission tree and random model, handles categorical, missing value, numeric values.

In [291]:
from sklearn import tree

X = dataset.iloc[:, 1:20]
Y = dataset.iloc[:,-1]

# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)
# reset index
#train = train.reset_index(drop=True)
#test = test.reset_index(drop=True)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

# Creating the classifier object
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
  
# Performing training
clf_gini.fit(X_train, y_train)

# Predicton on test with giniIndex
y_pred = clf_gini.predict(X_test)
print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0 0 0 ... 0 0 0]
Confusion Matrix:  [[5272   46]
 [ 554  128]]
Accuracy :  0.9
Report :                precision    recall  f1-score   support

           0       0.90      0.99      0.95      5318
           1       0.74      0.19      0.30       682

    accuracy                           0.90      6000
   macro avg       0.82      0.59      0.62      6000
weighted avg       0.89      0.90      0.87      6000

In [295]:
test_df1 = test_df.iloc[:, 1:20]
test_df1.fillna(0, inplace=True)
test_df_predict = clf_gini.predict_proba(test_df1)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   0.049663
1         29710   0.049663
2         38938   0.358809
3         31313   0.180412
4         24173   0.096870
...         ...        ...
9995        880   0.096870
9996      28072   0.180412
9997      40491   0.049663
9998       5310   0.049663
9999       6154   0.049663

[10000 rows x 2 columns]

In [297]:
clf_gini

DecisionTreeClassifier(max_depth=3, min_samples_leaf=5, random_state=100)

In [298]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub10.csv',index=False)

In [299]:
test_df_predict

             0         1
0     0.950337  0.049663
1     0.950337  0.049663
2     0.641191  0.358809
3     0.819588  0.180412
4     0.903130  0.096870
...        ...       ...
9995  0.903130  0.096870
9996  0.819588  0.180412
9997  0.950337  0.049663
9998  0.950337  0.049663
9999  0.950337  0.049663

[10000 rows x 2 columns]

In [313]:
# example of grid searching key hyperparametres for KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
# define dataset
X = X_train
y = y_train
# define models and parameters
model = KNeighborsClassifier()
n_neighbors = range(1, 21, 2)
weights = ['uniform', 'distance']
metric = ['euclidean', 'manhattan', 'minkowski']
# define grid search
grid = dict(n_neighbors=n_neighbors,weights=weights,metric=metric)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(X, y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 0.895738 using {'metric': 'euclidean', 'n_neighbors': 19, 'weights': 'uniform'}
0.845357 (0.007209) with: {'metric': 'euclidean', 'n_neighbors': 1, 'weights': 'uniform'}
0.845357 (0.007209) with: {'metric': 'euclidean', 'n_neighbors': 1, 'weights': 'distance'}
0.881952 (0.005094) with: {'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'uniform'}
0.879667 (0.004924) with: {'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'distance'}
0.887857 (0.004792) with: {'metric': 'euclidean', 'n_neighbors': 5, 'weights': 'uniform'}
0.886000 (0.005166) with: {'metric': 'euclidean', 'n_neighbors': 5, 'weights': 'distance'}
0.889952 (0.004802) with: {'metric': 'euclidean', 'n_neighbors': 7, 'weights': 'uniform'}
0.889286 (0.004640) with: {'metric': 'euclidean', 'n_neighbors': 7, 'weights': 'distance'}
0.890976 (0.004620) with: {'metric': 'euclidean', 'n_neighbors': 9, 'weights': 'uniform'}
0.890048 (0.004337) with: {'metric': 'euclidean', 'n_neighbors': 9, 'weights': 'distance'}
0.892024 (0.004392) with: {'metric': 'euclidean', 'n_neighbors': 11, 'weights': 'uniform'}
0.890929 (0.003771) with: {'metric': 'euclidean', 'n_neighbors': 11, 'weights': 'distance'}
0.892405 (0.004191) with: {'metric': 'euclidean', 'n_neighbors': 13, 'weights': 'uniform'}
0.891595 (0.003915) with: {'metric': 'euclidean', 'n_neighbors': 13, 'weights': 'distance'}
0.893571 (0.004677) with: {'metric': 'euclidean', 'n_neighbors': 15, 'weights': 'uniform'}
0.892167 (0.004451) with: {'metric': 'euclidean', 'n_neighbors': 15, 'weights': 'distance'}
0.895238 (0.003639) with: {'metric': 'euclidean', 'n_neighbors': 17, 'weights': 'uniform'}
0.893548 (0.003197) with: {'metric': 'euclidean', 'n_neighbors': 17, 'weights': 'distance'}
0.895738 (0.003511) with: {'metric': 'euclidean', 'n_neighbors': 19, 'weights': 'uniform'}
0.894000 (0.003100) with: {'metric': 'euclidean', 'n_neighbors': 19, 'weights': 'distance'}
0.848262 (0.007082) with: {'metric': 'manhattan', 'n_neighbors': 1, 'weights': 'uniform'}
0.848262 (0.007082) with: {'metric': 'manhattan', 'n_neighbors': 1, 'weights': 'distance'}
0.883071 (0.005604) with: {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'uniform'}
0.879571 (0.005254) with: {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'distance'}
0.889548 (0.004786) with: {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'uniform'}
0.887405 (0.004594) with: {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'distance'}
0.890833 (0.004695) with: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'uniform'}
0.890333 (0.004441) with: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'distance'}
0.892405 (0.005079) with: {'metric': 'manhattan', 'n_neighbors': 9, 'weights': 'uniform'}
0.891786 (0.004794) with: {'metric': 'manhattan', 'n_neighbors': 9, 'weights': 'distance'}
0.893024 (0.004089) with: {'metric': 'manhattan', 'n_neighbors': 11, 'weights': 'uniform'}
0.891905 (0.004477) with: {'metric': 'manhattan', 'n_neighbors': 11, 'weights': 'distance'}
0.893310 (0.003962) with: {'metric': 'manhattan', 'n_neighbors': 13, 'weights': 'uniform'}
0.892381 (0.004549) with: {'metric': 'manhattan', 'n_neighbors': 13, 'weights': 'distance'}
0.894548 (0.003723) with: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}
0.893190 (0.004081) with: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'distance'}
0.895429 (0.003782) with: {'metric': 'manhattan', 'n_neighbors': 17, 'weights': 'uniform'}
0.894095 (0.004019) with: {'metric': 'manhattan', 'n_neighbors': 17, 'weights': 'distance'}
0.895119 (0.003103) with: {'metric': 'manhattan', 'n_neighbors': 19, 'weights': 'uniform'}
0.894071 (0.003253) with: {'metric': 'manhattan', 'n_neighbors': 19, 'weights': 'distance'}
0.845357 (0.007209) with: {'metric': 'minkowski', 'n_neighbors': 1, 'weights': 'uniform'}
0.845357 (0.007209) with: {'metric': 'minkowski', 'n_neighbors': 1, 'weights': 'distance'}
0.881952 (0.005094) with: {'metric': 'minkowski', 'n_neighbors': 3, 'weights': 'uniform'}
0.879667 (0.004924) with: {'metric': 'minkowski', 'n_neighbors': 3, 'weights': 'distance'}
0.887857 (0.004792) with: {'metric': 'minkowski', 'n_neighbors': 5, 'weights': 'uniform'}
0.886000 (0.005166) with: {'metric': 'minkowski', 'n_neighbors': 5, 'weights': 'distance'}
0.889952 (0.004802) with: {'metric': 'minkowski', 'n_neighbors': 7, 'weights': 'uniform'}
0.889286 (0.004640) with: {'metric': 'minkowski', 'n_neighbors': 7, 'weights': 'distance'}
0.890976 (0.004620) with: {'metric': 'minkowski', 'n_neighbors': 9, 'weights': 'uniform'}
0.890048 (0.004337) with: {'metric': 'minkowski', 'n_neighbors': 9, 'weights': 'distance'}
0.892024 (0.004392) with: {'metric': 'minkowski', 'n_neighbors': 11, 'weights': 'uniform'}
0.890929 (0.003771) with: {'metric': 'minkowski', 'n_neighbors': 11, 'weights': 'distance'}
0.892405 (0.004191) with: {'metric': 'minkowski', 'n_neighbors': 13, 'weights': 'uniform'}
0.891595 (0.003915) with: {'metric': 'minkowski', 'n_neighbors': 13, 'weights': 'distance'}
0.893571 (0.004677) with: {'metric': 'minkowski', 'n_neighbors': 15, 'weights': 'uniform'}
0.892167 (0.004451) with: {'metric': 'minkowski', 'n_neighbors': 15, 'weights': 'distance'}
0.895238 (0.003639) with: {'metric': 'minkowski', 'n_neighbors': 17, 'weights': 'uniform'}
0.893548 (0.003197) with: {'metric': 'minkowski', 'n_neighbors': 17, 'weights': 'distance'}
0.895738 (0.003511) with: {'metric': 'minkowski', 'n_neighbors': 19, 'weights': 'uniform'}
0.894000 (0.003100) with: {'metric': 'minkowski', 'n_neighbors': 19, 'weights': 'distance'}

In [315]:
clf = KNeighborsClassifier(metric = 'euclidean', n_neighbors = 19, weights = 'uniform')
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0 0 0 ... 0 0 0]
Confusion Matrix:  [[5240   78]
 [ 527  155]]
Accuracy :  0.8991666666666667
Report :                precision    recall  f1-score   support

           0       0.91      0.99      0.95      5318
           1       0.67      0.23      0.34       682

    accuracy                           0.90      6000
   macro avg       0.79      0.61      0.64      6000
weighted avg       0.88      0.90      0.88      6000

In [322]:
test_df1 = test_df.iloc[:, 1:20]
test_df1.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df1)
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   1.000000
1         29710   1.000000
2         38938   0.684211
3         31313   0.894737
4         24173   1.000000
...         ...        ...
9995        880   0.789474
9996      28072   0.684211
9997      40491   0.947368
9998       5310   0.947368
9999       6154   1.000000

[10000 rows x 2 columns]

In [323]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub12.csv',index=False)

In [321]:
test_df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,53.0,9,2,5,0,0,0,0,3,3,0,999.0,0.0,1,1.4,93.918,-42.7,4.961,5228.1
1,32.0,1,1,1,0,2,0,1,3,4,1,999.0,0.0,1,1.4,93.918,-42.7,4.963,5228.1
2,70.0,5,1,3,0,2,0,0,1,3,0,999.0,0.0,1,-2.9,92.201,-31.4,0.883,5076.2
3,46.0,7,1,3,0,0,0,0,0,1,0,999.0,1.0,0,-1.8,93.075,-47.1,1.405,5099.1
4,35.0,9,2,7,0,0,0,0,6,2,0,999.0,1.0,0,-1.8,92.893,-46.2,1.266,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,31.0,0,0,6,0,2,2,0,6,1,2,999.0,0.0,1,-1.8,92.893,-46.2,1.354,5099.1
9996,21.0,6,2,6,0,2,0,0,0,1,0,999.0,0.0,1,-1.8,93.075,-47.1,1.405,5099.1
9997,39.0,3,1,0,0,2,2,0,1,0,0,999.0,0.0,1,1.4,93.444,-36.1,4.964,5228.1
9998,32.0,9,2,6,0,2,2,0,1,1,2,999.0,0.0,1,1.4,93.444,-36.1,4.965,5228.1
9999,50.0,9,1,6,0,0,0,0,3,0,0,999.0,0.0,1,1.4,93.918,-42.7,4.962,5228.1

In [324]:
# variable selection with forward stepwise variable selection procedure and AUC function
# functions imported from DataCamp 'Introduction to Predictive Analytics in Python'

def auc(variables, target, basetable):    
    X = basetable[variables]    
    y = basetable[target]    
    logreg = linear_model.LogisticRegression()    
    logreg.fit(X, y)    
    predictions = logreg.predict_proba(X)[:,1]    
    auc = roc_auc_score(y, predictions)
    return(auc)

def next_best(current_variables,candidate_variables, target, basetable):    
    best_auc = -1    
    best_variable = None
    for v in candidate_variables:
        auc_v = auc(current_variables + [v], target, basetable)
        if auc_v >= best_auc:
            best_auc = auc_v
            best_variable = v
    return best_variable

def auc_train_test(variables, target, train, test):
    X_train = train[variables]
    X_test = test[variables]
    Y_train = train[target]
    Y_test = test[target]
    logreg = linear_model.LogisticRegression()
    
    # Fit the model on train data
    logreg.fit(X_train, Y_train)
    
    # Calculate the predictions both on train and test data
    predictions_train = logreg.predict_proba(X_train)[:,1]
    predictions_test = logreg.predict_proba(X_test)[:,1]
    
    # Calculate the AUC both on train and test data
    auc_train = roc_auc_score(Y_train, predictions_train)
    auc_test = roc_auc_score(Y_test,predictions_test)
    return(auc_train, auc_test)

In [382]:
# we will try every variable in the dataframe until we get the combination of features that results in the highest value of AUC
candidate_variable = list(X_train.columns.values)
# candidate_variable.remove("churn")
print(candidate_variable)
print(len(candidate_variable))

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
19

In [370]:
X_train, y_train

(        age  job  marital  education  default  housing  loan  contact  month  \
 12816   0.0    0        1          5        0        0     0        0      7
 11763  40.0    3        0          3        0        2     0        0      6
 9485   57.0    1        0          2        0        2     0        1      6
 5644   31.0    9        1          5        0        0     0        1      6
 3768   42.0    4        1          6        0        2     0        0      6
 ...     ...  ...      ...        ...      ...      ...   ...      ...    ...
 16304  74.0    5        1          3        0        0     0        0      1
 79     36.0    9        1          6        0        0     0        1      6
 12119  40.0    1        1          3        1        2     0        1      6
 14147  29.0    0        1          6        0        0     0        0      1
 5640   34.0    1        1          2        0        2     0        0      6

        day_of_week  campaign  pdays  previous  poutcome  emp.var.rate  \
 12816            5         1  999.0       0.0         1          -0.1
 11763            4         2  999.0       1.0         0          -1.8
 9485             1         5  999.0       0.0         1          -1.8
 5644             1         5  999.0       0.0         1           1.1
 3768             0         0  999.0       0.0         1          -1.8
 ...            ...       ...    ...       ...       ...           ...
 16304            2         0  999.0       0.0         1          -2.9
 79               4         0  999.0       0.0         1           1.1
 12119            1         0  999.0       0.0         1           1.1
 14147            1         1  999.0       0.0         1           1.4
 5640             1         0  999.0       0.0         1          -1.8

        cons.price.idx  cons.conf.idx  euribor3m  nr.employed
 12816          93.200          -42.0      4.120       5195.8
 11763          92.893          -46.2      1.334       5099.1
 9485           92.893          -46.2      1.244       5099.1
 5644           93.994          -36.4      4.858       5191.0
 3768           92.893          -46.2      1.250       5099.1
 ...               ...            ...        ...          ...
 16304          92.201          -31.4      0.883       5076.2
 79             93.994          -36.4      4.858       5191.0
 12119          93.994          -36.4      4.857       5191.0
 14147          93.444          -36.1      4.965       5228.1
 5640           92.893          -46.2      1.244       5099.1

 [14000 rows x 19 columns],
 12816    0
 11763    0
 9485     0
 5644     0
 3768     0
         ..
 16304    0
 79       0
 12119    0
 14147    0
 5640     0
 Name: subscribe, Length: 14000, dtype: int64)

In [383]:
# we start our loop and try 

current_variables = []
target = ['subscribe']
max_number_variables = 11
number_iterations = min(max_number_variables, len(candidate_variable))
basetable = dataset

for i in range(0,number_iterations):    
    next_var = next_best(current_variables,candidate_variable,target,basetable)    
    current_variables = current_variables + [next_var]    
    candidate_variable.remove(next_var)
print(current_variables)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

['nr.employed', 'month', 'euribor3m', 'pdays', 'emp.var.rate', 'cons.price.idx', 'marital', 'contact', 'poutcome', 'default', 'housing']

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [374]:
dataset

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,subscribe
0,29925,42.0,4,1,2,0,0,0,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.968,5228.1,0
1,37529,35.0,10,1,6,0,2,0,1,4,...,3,999.0,0.0,1,1.4,94.465,-41.8,4.960,5228.1,0
2,2757,44.0,9,1,2,0,2,2,0,6,...,0,999.0,0.0,1,-1.8,92.893,-46.2,1.264,5099.1,0
3,9642,45.0,7,1,3,0,2,0,0,0,...,0,999.0,0.0,1,-1.8,93.075,-47.1,1.453,5099.1,0
4,14183,45.0,11,1,7,1,1,1,1,6,...,0,999.0,0.0,1,1.1,93.994,-36.4,4.859,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,13724,45.0,11,3,7,0,2,2,0,3,...,0,999.0,0.0,1,1.4,93.918,-42.7,4.957,5228.1,1
19996,29863,26.0,0,2,6,0,2,0,0,6,...,1,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19997,9841,33.0,0,1,3,0,2,2,0,6,...,0,999.0,1.0,0,-1.8,92.893,-46.2,1.299,5099.1,0
19998,36432,43.0,0,1,3,0,2,0,1,3,...,9,999.0,0.0,1,1.4,93.918,-42.7,4.960,5228.1,0
19999,15639,55.0,1,1,2,0,2,2,0,1,...,2,999.0,0.0,1,1.4,93.444,-36.1,4.963,5228.1,0

In [384]:
# we test the AUC for this set of variables, if we keep adding more variables to the model the AUC won't increase, instead at variable number 11 the AUC starts to decrease:
train_data = dataset
testauc = auc(current_variables, ['subscribe'], train_data)
print(round(testauc,2))

0.77

C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\tools\Anaconda3\envs\py1\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [356]:
current_variables

['nr.employed',
 'month',
 'euribor3m',
 'pdays',
 'emp.var.rate',
 'cons.price.idx',
 'marital',
 'contact',
 'poutcome',
 'default']

In [357]:
X_train[current_variables]

,nr.employed,month,euribor3m,pdays,emp.var.rate,cons.price.idx,marital,contact,poutcome,default
12816,5195.8,7,4.120,999.0,-0.1,93.200,1,0,1,0
11763,5099.1,6,1.334,999.0,-1.8,92.893,0,0,0,0
9485,5099.1,6,1.244,999.0,-1.8,92.893,0,1,1,0
5644,5191.0,6,4.858,999.0,1.1,93.994,1,1,1,0
3768,5099.1,6,1.250,999.0,-1.8,92.893,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
16304,5076.2,1,0.883,999.0,-2.9,92.201,1,0,1,0
79,5191.0,6,4.858,999.0,1.1,93.994,1,1,1,0
12119,5191.0,6,4.857,999.0,1.1,93.994,1,1,1,1
14147,5228.1,1,4.965,999.0,1.4,93.444,1,0,1,0
5640,5099.1,6,1.244,999.0,-1.8,92.893,1,0,1,0

In [376]:
clf = SVC(probability=True)
clf.fit(X_train[current_variables], y_train)

y_pred = clf.predict(X_test[current_variables])

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0 0 0 ... 0 0 0]
Confusion Matrix:  [[5317    1]
 [ 680    2]]
Accuracy :  0.8865
Report :                precision    recall  f1-score   support

           0       0.89      1.00      0.94      5318
           1       0.67      0.00      0.01       682

    accuracy                           0.89      6000
   macro avg       0.78      0.50      0.47      6000
weighted avg       0.86      0.89      0.83      6000

In [377]:
test_df1 = test_df.iloc[:, 1:20]
test_df1.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df1[current_variables])
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   0.108448
1         29710   0.108305
2         38938   0.108247
3         31313   0.106837
4         24173   0.108471
...         ...        ...
9995        880   0.108448
9996      28072   0.108379
9997      40491   0.108628
9998       5310   0.108440
9999       6154   0.108215

[10000 rows x 2 columns]

In [378]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub15.csv',index=False)

In [386]:
clf = RandomForestClassifier(max_features='sqrt', n_estimators= 100)
clf.fit(X_train[current_variables], y_train)

y_pred = clf.predict(X_test[current_variables])

print("Predicted values:")
print(y_pred)

print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))
      
print ("Accuracy : ", accuracy_score(y_test,y_pred))
      
print("Report : ", classification_report(y_test, y_pred))

Predicted values:
[0 0 0 ... 0 0 0]
Confusion Matrix:  [[5109  209]
 [ 460  222]]
Accuracy :  0.8885
Report :                precision    recall  f1-score   support

           0       0.92      0.96      0.94      5318
           1       0.52      0.33      0.40       682

    accuracy                           0.89      6000
   macro avg       0.72      0.64      0.67      6000
weighted avg       0.87      0.89      0.88      6000

In [387]:
test_df1 = test_df.iloc[:, 1:20]
test_df1.fillna(0, inplace=True)
test_df_predict = clf.predict_proba(test_df1[current_variables])
test_df_predict
test_df_predict=pd.DataFrame(test_df_predict)

test_df["client_id"]
#submission = pd.concat([test_df["client_id"], test_df_predict[1]], axis=1)
test_result = test_df["client_id"].reset_index(drop=True)
predict_test = test_df_predict[1].reset_index(drop=True)
#submission = pd.concat([test_df["client_id"], test_df_predict[1]],ignore_index=True, axis=0)
submission = pd.concat([test_result, predict_test], axis=1, ignore_index=False)
submission.columns = ['client_id','subscribe']
submission

      client_id  subscribe
0          2986   0.067019
1         29710   0.050414
2         38938   0.450095
3         31313   0.091556
4         24173   0.216825
...         ...        ...
9995        880   0.727568
9996      28072   0.477329
9997      40491   0.020306
9998       5310   0.034345
9999       6154   0.099751

[10000 rows x 2 columns]

In [388]:
submission.to_csv(r'C:\Users\mcortez\Desktop\STATISTICAL AND MACHINE LEARNING APPROCHES FOR MARKETING\Group Project\sub16.csv',index=False)

In [218]:
#####################################################################################################################

In [37]:
# Function importing Dataset
def importdata():
    balance_data = pd.read_csv('./Dataset 1_Bank Marketing/bank_mkt_train.csv', sep= ',', header = None)
      
    # Printing the dataswet shape
    print ("Dataset Length: ", len(balance_data))
    print ("Dataset Shape: ", balance_data.shape)
      
    # Printing the dataset obseravtions
    print ("Dataset: ",balance_data.head())
    return balance_data
  
# Function to split the dataset
def splitdataset(balance_data):
  
    # Separating the target variable
    X = balance_data.values[:, 1:5]
    Y = balance_data.values[:, 0]
  
    # Splitting the dataset into train and test
    X_train, X_test, y_train, y_test = train_test_split( 
    X, Y, test_size = 0.3, random_state = 100)
      
    return X, Y, X_train, X_test, y_train, y_test

# Function to perform training with giniIndex.
def train_using_gini(X_train, X_test, y_train):
  
    # Creating the classifier object
    clf_gini = DecisionTreeClassifier(criterion = "gini",
            random_state = 100,max_depth=3, min_samples_leaf=5)
  
    # Performing training
    clf_gini.fit(X_train, y_train)
    return clf_gini
      
# Function to perform training with entropy.
def tarin_using_entropy(X_train, X_test, y_train):
  
    # Decision tree with entropy
    clf_entropy = DecisionTreeClassifier(
            criterion = "entropy", random_state = 100,
            max_depth = 3, min_samples_leaf = 5)
  
    # Performing training
    clf_entropy.fit(X_train, y_train)
    return clf_entropy
  
  
# Function to make predictions
def prediction(X_test, clf_object):
  
    # Predicton on test with giniIndex
    y_pred = clf_object.predict(X_test)
    print("Predicted values:")
    print(y_pred)
    return y_pred
      
# Function to calculate accuracy
def cal_accuracy(y_test, y_pred):
      
    print("Confusion Matrix: ",
    confusion_matrix(y_test, y_pred))
      
    print ("Accuracy : ",
    accuracy_score(y_test,y_pred)*100)
      
    print("Report : ",
    classification_report(y_test, y_pred))
  
# Driver code
def main():
      
    # Building Phase
    data = importdata()
    X, Y, X_train, X_test, y_train, y_test = splitdataset(data)
    clf_gini = train_using_gini(X_train, X_test, y_train)
    clf_entropy = tarin_using_entropy(X_train, X_test, y_train)
      
    # Operational Phase
    print("Results Using Gini Index:")
      
    # Prediction using gini
    y_pred_gini = prediction(X_test, clf_gini)
    cal_accuracy(y_test, y_pred_gini)
      
    print("Results Using Entropy:")
    # Prediction using entropy
    y_pred_entropy = prediction(X_test, clf_entropy)
    cal_accuracy(y_test, y_pred_entropy)
      
      
# Calling main function
if __name__=="__main__":
    main()

Dataset Length:  20001
Dataset Shape:  (20001, 21)
Dataset:            0    1           2        3                  4        5        6   \
0  client_id  age         job  marital          education  default  housing
1      29925   42  management  married           basic.9y       no       no
2      37529   35  unemployed  married  university.degree       no      yes
3       2757   44  technician  married           basic.9y       no      yes
4       9642   45    services  married        high.school       no      yes

     7          8      9   ...        11     12        13           14  \
0  loan    contact  month  ...  campaign  pdays  previous     poutcome
1    no   cellular    jul  ...         1    999         0  nonexistent
2    no  telephone    jun  ...         4    999         0  nonexistent
3   yes   cellular    may  ...         1    999         0  nonexistent
4    no   cellular    apr  ...         1    999         0  nonexistent

             15              16             17         18           19  \
0  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed
1           1.4          93.918          -42.7      4.968       5228.1
2           1.4          94.465          -41.8       4.96       5228.1
3          -1.8          92.893          -46.2      1.264       5099.1
4          -1.8          93.075          -47.1      1.453       5099.1

          20
0  subscribe
1          0
2          0
3          0
4          0

[5 rows x 21 columns]

ValueError: could not convert string to float: 'entrepreneur'

AttributeError: 'numpy.ndarray' object has no attribute 'head'